@layer base, utils, components;

@import '@webtui/css/base.css';
@import '@webtui/css/utils/box.css';
@import '@webtui/css/components/button.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/badge.css';
@import '@webtui/css/components/input.css';
@import '@webtui/css/components/textarea.css';
@import '@webtui/css/components/popover.css';
@import '@webtui/css/components/separator.css';
@import '@webtui/css/components/pre.css';
@import '@webtui/css/components/dialog.css';

@import '@/styles/flexbox.css';
@import '@/styles/padding.css';
@import '@webtui/plugin-nf';
@import '@/styles/themes/custom.css';
@import '@webtui/theme-catppuccin';
@import '@webtui/theme-nord';
@import '@webtui/theme-gruvbox';
@import '@webtui/theme-vitesse';
@import '@webtui/theme-everforest';

@layer base {
    /* :where(a, button, summary, [tabindex]:not([tabindex='-1'])):focus-visible { */
    /*     outline: 2px solid var(--foreground0); */
    /*     outline-offset: 2px; */
    /*     background-color: var(--red); */
    /*     text-decoration: underline; */
    /* } */
    /**/
    /* #scroll-container { */
    /*     & #main-content { */
    /*         & > [tabindex='0'], */
    /*         & > ul > li[tabindex='0'] { */
    /*             &:focus { */
    /*                 background-color: var(--background1); */
    /*             } */
    /*         } */
    /*     } */
    /* } */
    /**/
    ::highlight(vim) {
        background-color: color-mix(
            in oklch,
            var(--background1) 60%,
            transparent
        );
        color: var(--foreground0);
    }
    strong {
        font-weight: 600;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    :root {
        --font-family:
            'Iosevka Web', 'JetBrains Mono', Menlo, Monaco, monospace,
            'Symbols Nerd Font';
        --font-size: 17px;
        --font-family-sans-serif:
            'Iosevka Web', 'JetBrains Mono', Menlo, Monaco, monospace;
        --font-family-monospace: 'Iosevka Web';
        --box-border-color: var(--background1);
        /* --background0: #fff; */
        /* --background1: #ddd; */
        /* --background2: #bbb; */
        /* --background3: #999; */
        /**/
        /* --foreground0: #000; */
        /* --foreground1: #444; */
        /* --foreground2: #888; */
        /**/
        /* --box-border-color: var(--foreground0); */
        /* --table-border-color: var(--foreground0); */
        /* --separator-color: var(--foreground0); */
    }

    body,
    html {
        width: auto;
        height: 100vh;
        overflow-y: scroll;
        /* overflow-x: hidden; */
        display: flex;
        flex-direction: column;
        /* margin-inline: calc(2vw; */
        /* add a 1ch margin to the left and right of the body to prevent content from touching the edges of the viewport */
        /* margin: 0 1ch; */
        /* line-height: var(--line-height, 1.5); */
        font-variant-ligatures: common-ligatures;
        margin: 0 1ch;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
    }

    li > p {
        display: inline;
    }

    li > p + p::before {
        content: '';
        display: inline-block;
        width: 2ch;
    }
    body a {
        color: var(--url, var(--blue));
        /* background-color: oklch(from var(--url, var(--blue)) l c h / 0.1); */
    }
    body a:hover {
        text-decoration: none !important;
        transition:
            color 0.3s ease,
            background-color 0.3s ease;
        color: var(--accent, var(--red)) !important;
        background-color: oklch(
            from var(--accent, var(--red)) calc(l * var(--oklch-scale, 1.15)) c
                h / 0.1
        );
    }

    ::highlight(vim) {
        background-color: var(--foreground0);
        color: var(--background0);
    }
    h1 {
        color: oklch(from var(--h1, var(--red)) l c h);
        &:hover,
        &:focus-visible {
            background-color: oklch(
                from var(--h1, var(--red)) calc(l * var(--oklch-scale, 0.85)) c
                    h / 0.1
            );
        }
    }

    h2 {
        color: oklch(from var(--h1, #ff5252) l c h);
        background-color: oklch(
            from var(--h1, #ff5252) calc(l * 0.85) c h / 0.1
        );
    }

    h3 {
        color: oklch(from var(--h3, #6089de) l c h);
        background-color: oklch(
            from var(--h3, #6089de) calc(l * 0.85) c h / 0.1
        );
    }
    h4 {
        color: oklch(from var(--h4, #50fa7b) l c h);
        background-color: oklch(
            from var(--h4, #50fa7b) calc(l * 0.85) c h / 0.1
        );
    }
    h5 {
        color: oklch(from var(--h5, #fd971f) l c h);
        background-color: oklch(
            from var(--h5, #fd971f) calc(l * 0.85) c h / 0.1
        );
    }
    h6 {
        color: oklch(from var(--h6, #f92672) l c h);
        background-color: oklch(
            from var(--h6, #f92672) calc(l * 0.85) c h / 0.1
        );
    }

    pre:not([size-]),
    [is-~='pre']:not([size-]) {
        background-color: transparent;
    }

    code {
        font-family: var(--font-family);
    }

    pre,
    [is-~='pre'] {
        white-space: pre-wrap;
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: var(--line-height);
    }
    .sidebar-tree-summary::marker {
        content: '';
    }

    body .fa-li {
        max-height: 2ch;
        max-width: 2ch;
        display: block;
    }
}

@layer components {
    hr {
        display: block;
        padding: 0.5lh 0;
        width: 100%;
        border: none;
        background-image: linear-gradient(
            0deg,
            transparent 0,
            transparent calc(0.5lh - 1px),
            var(--foreground2) calc(0.5lh - 1px),
            var(--foreground2) calc(0.5lh + 1px),
            transparent calc(0.5lh + 1px),
            transparent
        );
    }
    pre:not([size-]),
    [is-~='pre']:not([size-]) {
        background-color: transparent;
        background-image: none;
    }

    .reveal-full-page {
        max-height: calc(0.33 * 100vh) !important;
        max-width: 100vw !important;
        aspect-ratio: calc(16 / 9) !important;
        height: 20lh;
    }
}

@layer components {
    button:not([size-]):not([box-]) {
        margin-inline: 1ch;
    }
    .callout-tip {
        background-color: oklch(
            from var(--background2) calc(l * var(--oklch-scale, 1.15)) c h / 0.1
        );
        /* color: oklch(from var(--background2) l c h); */
    }
    details[is-~='accordion'] {
        /* only apply background-color to the summary element */
        summary {
            background-color: oklch(
                from var(--background3) calc(l * var(--oklch-scale, 1.15)) c h /
                    0.1
            );
            color: oklch(from var(--background3) l c h);
        }
    }
    details[is-~='accordion'] {
        &[variant-='directory'] {
            summary::before {
                content: '>  ';
            }

            &[open] summary::before {
                content: 'v  ';
            }
        }
    }
    details[is-~='accordion'] {
        &[variant-='sidebar-year'] {
            summary::before {
                content: '>  ';
            }

            &[open] summary::before {
                content: 'v  ';
            }
        }

        /* ... */
    }
}

@media (max-width: 480px) {
    :root {
        --font-size: 16px;
    }
}

p:has(> img) {
    display: flow-root;

    max-width: 100%;
    max-height: 24lh;
    width: auto;

    overflow-x: scroll;
    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}

html[data-webtui-theme='dark'] .astro-code,
html[data-webtui-theme='dark'] .astro-code span {
    --shiki-dark-bg: var(--background1) !important;
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

/* strong { */
/*     color: var(--foreground0); */
/*     -moz-osx-font-smoothing: grayscale; */
/*     -webkit-font-smoothing: subpixel-antialiased; */
/* } */

/* pre.astro-code { */
/*     background-color: transparent !important; */
/* } */
/* icon { */
/*   max-height: 1.5ch; */
/* } */
