/* Contains all core base styles, utilities, and components */
@layer base, utils, components;
@import '@webtui/css/base.css';
@import '@webtui/css/utils/box.css';

/* Components */
@import '@webtui/css/components/button.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css//components/badge.css';
@import '@webtui/css/components/input.css';
@import '@webtui/css/components/textarea.css';
@import '@webtui/css/components/popover.css';
@import '@webtui/css/components/checkbox.css';
@import '@webtui/css/components/separator.css';
@import '@webtui/css/components/radio.css';
@import '@webtui/css/components/pre.css';
@import '@webtui/css/components/tooltip.css';
@import '@webtui/css/components/table.css';
@import '@webtui/css/components/switch.css';
@import '@webtui/css/components/range.css';
@import '@webtui/css/components/dialog.css';
@import '@webtui/css/components/spinner.css';
@import '@webtui/css/components/progress.css';
@import '@webtui/css/components/accordion.css';

@import '@/styles/flexbox.css';
@import '@/styles/padding.css';
@import '@/styles/material.css';
@import '@/styles/lastfm.css';
@import '@webtui/plugin-nf';
@import '@/styles/themes/custom.css';
@import '@webtui/theme-catppuccin';

.flex-container.icon-flex a {
    text-decoration: none;
}

@layer base {
    /* :where(a, button, summary, [tabindex]:not([tabindex='-1'])):focus-visible { */
    /*     outline: 2px solid var(--foreground0); */
    /*     outline-offset: 2px; */
    /*     background-color: var(--red); */
    /*     text-decoration: underline; */
    /* } */
    /**/
    strong {
        font-weight: 600;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    :root {
        --font-family:
            'Iosevka Web', 'JetBrains Mono', Menlo, Monaco, monospace,
            'Symbols Nerd Font';
        --font-size: 17px;
        --font-family-sans-serif: var(--font-family);
        --font-family-monospace: var(--font-family);
        font-family: var(--font-family);
        --table-border-width: 0px;
        --box-border-color: var(--background1);
        --focus-bg: oklch(
            from var(--accent, var(--red)) calc(l * var(--oklch-scale, 1.15)) c
                h / 0.5
        );
        --focus-bg-strong: oklch(
            from var(--accent, var(--red)) calc(l * var(--oklch-scale, 1.15)) c
                h / 0.18
        );
        --focus-hover-bg: oklch(
            from var(--accent, var(--red)) calc(l * var(--oklch-scale, 1.15)) c
                h / 0.1
        );
        --focus-fg: var(--accent, var(--red));
        --focus-border: oklch(
            from var(--accent, var(--red)) calc(l * var(--oklch-scale, 1.15)) c
                h / 0.05
        );
        --focus-marker: var(--accent, var(--red));
        --focus-rail-size: 0pt;
        --focus-region-border: var(--foreground0);
    }
    ::highlight(vim) {
        background-color: var(--foreground0);
        color: var(--background0);
    }
    h1 {
        color: oklch(from var(--h1, var(--red)) l c h);
        &:hover,
        &:focus-visible {
            background-color: oklch(
                from var(--h1, var(--red)) calc(l * var(--oklch-scale, 0.85)) c
                    h / 0.1
            );
        }
    }
    h1:hover,
    h1:focus-visible {
        text-decoration: none !important;
        background-color: oklch(
            from var(--h1, var(--red)) calc(l * var(--oklch-scale, 0.85)) c h /
                0.1
        );
    }

    h2 {
        color: oklch(from var(--h2, var(--orange)) l c h);
        &:hover,
        &:focus-visible {
            background-color: oklch(
                from var(--h2, var(--orange)) calc(l * var(--oklch-scale, 0.85))
                    c h / 0.1
            ) !important;
        }
    }

    h3 {
        color: oklch(from var(--h3, var(--green)) l c h);
        &:hover,
        &:focus-visible {
            background-color: oklch(
                from var(--h3, var(--green)) calc(l * 0.85) c h / 0.1
            );
        }
    }
    h4 {
        color: oklch(from var(--h4, #50fa7b) l c h);
        &:hover,
        &:focus-visible {
            background-color: oklch(
                from var(--h4, #50fa7b) calc(l * 0.85) c h / 0.1
            );
        }
    }
    h5 {
        color: oklch(from var(--h5, #fd971f) l c h);
        &:hover,
        &:focus-visible {
            background-color: oklch(
                from var(--h5, #fd971f) calc(l * 0.85) c h / 0.1
            );
        }
    }
    h6 {
        color: oklch(from var(--h6, #f92672) l c h);
        &:hover,
        &:focus-visible {
            background-color: oklch(
                from var(--h6, #f92672) calc(l * 0.85) c h / 0.1
            );
        }
    }

    body,
    html {
        height: 100vh;
        display: flex;
        flex-direction: column;
        line-height: var(--line-height);
        font-variant-ligatures: common-ligatures;
        /* overflow-y: scroll; */
        /* overflow-x: hidden; */
        /* margin-inline: calc(2vw; */
        /* add a 1ch margin to the left and right of the body to prevent content from touching the edges of the viewport */
        margin: 0 1ch;
        /* margin: 0 1ch; */
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > column,
        > [is-~='column'],
        > .col {
            flex: 1 1 0%;
            min-width: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .dim-text {
        color: var(--foreground2);
    }

    li > p {
        display: inline;
    }

    li > p + p::before {
        content: '';
        display: inline-block;
        width: 2ch;
    }
    body a {
        color: var(--url, var(--blue));
    }
    body a:hover {
        text-decoration: none !important;
        transition:
            color 0.3s ease,
            background-color 0.3s ease;
        color: var(--accent, var(--red)) !important;
        background-color: oklch(
            from var(--accent, var(--red)) calc(l * var(--oklch-scale, 1.15)) c
                h / 0.1
        );
    }

    pre:not([size-]),
    [is-~='pre']:not([size-]) {
        background-color: transparent;
        background-color: var(--code-bg);
        overflow-x: auto;
        padding: 1ch 1ch;

        &.astro-code {
            background-color: unset;
        }
    }

    code {
        font-family: var(--font-family);
        background-color: var(--code-bg);

        .astro-code > & {
            background-color: inherit;
        }
    }

    .line {
        width: auto;
        /* display: block; */
    }

    pre,
    [is-~='pre'] {
        white-space: pre;
        font-family: var(--font-family);
        font-size: var(--font-size);
        line-height: var(--line-height);
    }
    .sidebar-tree-summary::marker {
        content: '';
    }

    body .fa-li {
        max-height: 2ch;
        max-width: 2ch;
        display: block;
    }
}

@layer components {
    p {
        color: unset;
    }
    details[is-~='accordion'] > summary {
        list-style: none;
    }
    details[is-~='accordion'] > summary::-webkit-details-marker {
        display: none;
    }
    .katex-display {
        overflow-x: auto;
    }
    hr {
        display: block;
        padding: 1ch 0;
        width: 100%;
        border: none;
        background-image: linear-gradient(
            0deg,
            transparent 0,
            transparent calc(0.5lh - 1px),
            var(--foreground2) calc(0.5lh - 1px),
            var(--foreground2) calc(0.5lh + 1px),
            transparent calc(0.5lh + 1px),
            transparent
        );
    }
    pre:not([size-]),
    [is-~='pre']:not([size-]) {
        background-color: transparent;
        background-image: none;
    }
    .slide-deck.reveal-full-page {
        width: min(800px, round(97%, 1ch));
        margin-inline-end: 2ch;
    }
    .reveal-full-page {
        max-height: round(calc(0.66 * 100vh), 1lh) !important;
        min-height: round(calc(0.33 * 100vh), 1lh) !important;
        max-width: round(100vw, 1ch) !important;
        min-width: max-content;
        margin-block-end: 1ch;
        /* box-shadow: 1pt 2pt black; */
        /* min-width: round(100vw, 1ch) !important; */
        aspect-ratio: calc(1280 / 720) !important;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@layer components {
    pre,
    [is-~='pre'] {
        white-space: pre;
        overflow-x: auto;
    }

    pre:not([size-]),
    [is-~='pre']:not([size-]) {
        background-color: transparent !important;
        background-image: none;
    }
    button:not([size-]):not([box-]) {
        margin-inline: 1ch;
    }

    :is(
        button,
        input[type='button'],
        input[type='submit'],
        input[type='reset'],
        [is-~='button']
    ) {
        &[variant-='red'] {
            --button-primary: var(--red);
            --button-secondary: var(--background0);
        }

        &[variant-='orange'] {
            --button-primary: var(--orange);
            --button-secondary: var(--background0);
        }

        &[variant-='yellow'] {
            --button-primary: var(--yellow);
            --button-secondary: var(--background0);
        }

        &[variant-='green'] {
            --button-primary: var(--green);
            --button-secondary: var(--background0);
        }

        &[variant-='blue'] {
            --button-primary: var(--blue);
            --button-secondary: var(--background0);
        }

        &[variant-='purple'] {
            --button-primary: var(--purple);
            --button-secondary: var(--background0);
        }

        &[variant-='pink'] {
            --button-primary: var(--pink);
            --button-secondary: var(--background0);
        }

        &[variant-='dim'] {
            --button-primary: var(--foreground2);
            --button-secondary: var(--background0);
        }

        &[variant-='bright'] {
            --button-primary: var(--foreground0);
            --button-secondary: var(--background0);
        }
    }

    .callout {
        --callout-color: var(--blue, #118cc2);
        --callout-bg: oklch(
            from var(--callout-color) calc(l * var(--oklch-scale, 1.12)) c h /
                0.1
        );
        --callout-summary-bg: oklch(
            from var(--callout-color) calc(l * var(--oklch-scale, 1.08)) c h /
                0.025
        );
    }

    .callout-tip {
        --callout-color: var(--background3, #838383);
    }
    .callout-note {
        --callout-color: var(--blue, #118cc2);
    }

    .callout-important {
        --callout-color: var(--purple, var(--accent, #9a76ce));
    }

    .callout-warning,
    .callout-caution {
        --callout-color: var(--orange, #ee8f24);
    }

    .callout-error,
    .callout-danger {
        --callout-color: var(--red, #e05560);
    }

    .callout-success {
        --callout-color: var(--green, #1da811);
    }

    details[is-~='accordion']:is(
            .callout,
            .callout-tip,
            .callout-note,
            .callout-important,
            .callout-warning,
            .callout-caution,
            .callout-error,
            .callout-danger,
            .callout-success
        ) {
        background-color: var(--callout-bg);
        color: var(--callout-color);

        summary {
            background-color: var(--callout-summary-bg);
            color: var(--callout-color);
            font-weight: var(--font-weight-bold);
            padding-inline-end: 1ch;
        }
        > summary::before {
            content: '[+] ';
        }
        &[open] > summary::before {
            content: '[-] ';
        }
    }
    details[is-~='accordion'] {
        /* only apply background-color to the summary element */
        summary {
            background-color: oklch(
                from var(--background3) calc(l * var(--oklch-scale, 1.15)) c h /
                    0.1
            );
            /* color: oklch(from var(--background3) l c h); */
        }
    }
    details[is-~='accordion'] {
        &[variant-='directory'] {
            > summary::before {
                content: '>  ';
            }

            &[open] > summary::before {
                content: 'v  ';
            }
        }
    }
    details[is-~='accordion'] {
        &[variant-='sidebar-year'] {
            > summary::before {
                content: '>  ';
            }

            &[open] > summary::before {
                content: 'v  ';
            }
        }

        /* ... */
    }

    /* Keep unordered sublists indented under ordered list items. */
    ol li > ul {
        margin-left: 3ch;
    }
}

@media (max-width: 480px) {
    :root {
        --font-size: 16px;
    }

    body,
    html {
        width: auto;
        height: 100vh;
        /* overflow-y: scroll; */
        /* display: flex; */
        /* flex-direction: column; */
        font-variant-ligatures: common-ligatures;
        margin: 0 1ch;
    }
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;

        > column,
        > [is-~='column'],
        > .col {
            flex: none;
            width: 100%;
        }
    }
}

.light-content {
    display: none !important;
}

@media (prefers-color-scheme: light) {
    .light-content {
        display: revert !important;
    }

    .dark-content {
        display: none !important;
    }
}

html[data-webtui-theme='light'] .light-content {
    display: revert !important;
}

html[data-webtui-theme='light'] .dark-content {
    display: none !important;
}

html[data-webtui-theme='dark'] .light-content {
    display: none !important;
}

html[data-webtui-theme='dark'] .dark-content {
    display: revert !important;
}

html[data-webtui-theme='light'] .astro-code,
html[data-webtui-theme='light'] .astro-code span {
    background-color: oklch(from var(--code-bg, #f8f8f8) l c h) !important;
}

/* html:not([data-webtui-theme='light']) .astro-code { */
/*     background-color: var(--background1) !important; */
/* } */

/* html:not([data-webtui-theme='light']) .astro-code span { */
/*     background-color: transparent !important; */
/* } */

/* html[data-webtui-theme='light'] .astro-code span { */
/*     color: var(--shiki-light) !important; */
/*     font-style: var(--shiki-light-font-style) !important; */
/*     font-weight: var(--shiki-light-font-weight) !important; */
/*     text-decoration: var(--shiki-light-text-decoration) !important; */
/*     background-color: var(--background1)!important; */
/* } */

html[data-webtui-theme='dark'] .astro-code span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
    background-color: var(--background1) !important;
}

html[data-webtui-theme='catppuccin'] .astro-code span {
    color: var(--shiki-catppuccin) !important;
    font-style: var(--shiki-catppuccin-font-style) !important;
    font-weight: var(--shiki-catppuccin-font-weight) !important;
    text-decoration: var(--shiki-catppuccin-text-decoration) !important;
    background-color: var(--background1, var(--shiki-catppuccin-bg)) !important;
}

pre.astro-code {
    padding: 0ch;
    flex-shrink: 0;
}

pre.astro-code > code {
    display: block;
    width: max-content;
    min-width: 100%;
    white-space: pre;
    counter-reset: line;
}

pre.astro-code span.line[tabindex='0'] {
    display: block;
    outline: none;
}

pre.astro-code span.line[tabindex='0']:focus-visible {
    background-color: oklch(from var(--foreground0) l c h / 0.12);
    box-shadow: inset 2px 0 0 0 var(--foreground0);
}

pre.astro-code span.line {
    display: inline-block;
    width: 100%;
}

pre.astro-code span.line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 3ch;
    margin-right: 1ch;
    text-align: right;
    color: var(--foreground2);
    user-select: none;
}

p:has(> img) {
    /* display: flow-root; */

    max-width: 100%;
    height: auto;
    /* max-height: 24lh; */
    /* width: auto; */

    overflow-x: scroll;
    img {
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }
}

html[data-webtui-theme='catppuccin'] {
    --background0: var(--base);
    --background1: var(--surface0);
    --background2: var(--surface1);
    --background3: var(--surface2);

    --foreground0: var(--text);
    --foreground1: var(--subtext1);
    --foreground2: var(--overlay2);
    --code-bg: var(--foreground0);
}
