:root {
    --material-red: oklch(from #f44336 l c h);
    --material-orange: oklch(from #ff9800 l c h);
    --material-yellow: oklch(from #ffeb3b l c h);
    --material-yellow-green: oklch(from #cddc39 l c h);
    --material-lime: oklch(from #c0ca33 l c h);
    --material-light-green: oklch(from #8bc34a l c h);
    --material-green: oklch(from #4caf50 l c h);
    --material-teal: oklch(from #009688 l c h);
    --material-cyan: oklch(from #00bcd4 l c h);
    --material-light-blue: oklch(from #03a9f4 l c h);
    --material-blue: oklch(from #2196f3 l c h);
    --material-indigo: oklch(from #3f51b5 l c h);
    --material-purple: oklch(from #9c27b0 l c h);
    --material-deep-purple: oklch(from #673ab7 l c h);
    --material-indigo: oklch(from #3f51b5 l c h);
    --material-pink: oklch(from #e91e63 l c h);
    --material-pink-50: oklch(from #fce4ec l c h);
    --material-pink-100: oklch(from #f8bbd0 l c h);
    --material-pink-200: oklch(from #f48fb1 l c h);
    --material-pink-300: oklch(from #f06292 l c h);
    --material-pink-400: oklch(from #ec407a l c h);
    --material-pink-500: oklch(from #e91e63 l c h);
    --material-pink-600: oklch(from #d81b60 l c h);
    --material-pink-700: oklch(from #c2185b l c h);
    --material-pink-800: oklch(from #ad1457 l c h);
    --material-pink-900: oklch(from #880e4f l c h);
    --material-pink-A100: oklch(from #ff80ab l c h);
    --material-pink-A200: oklch(from #ff4081 l c h);
    --material-pink-A400: oklch(from #f50057 l c h);
    --material-pink-A700: oklch(from #c51162 l c h);

    --material-deep-purple: oklch(from #673ab7 l c h);
    --material-deep-purple-50: oklch(from #ede7f6 l c h);
    --material-deep-purple-100: oklch(from #d1c4e9 l c h);
    --material-deep-purple-200: oklch(from #b39ddb l c h);
    --material-deep-purple-300: oklch(from #9575cd l c h);
    --material-deep-purple-400: oklch(from #7e57c2 l c h);
    --material-deep-purple-500: oklch(from #673ab7 l c h);
    --material-deep-purple-600: oklch(from #52569c l c h);
    --material-deep-purple-700: oklch(from #3d4f91 l c h);
    --material-deep-purple-800: oklch(from #293f7f l c h);
    --material-deep-purple-900: oklch(from #1a237c l c h);
    --material-deep-purple-A100: oklch(from #8c9eff l c h);
    --material-deep-purple-A200: oklch(from #536dfe l c h);
    --material-deep-purple-A400: oklch(from #3d5afe l c h);

    --material-magenta: oklch(from #e91e63 l c h);

    --material-violet: oklch(from #673ab7 l c h);

    --material-grey: oklch(from #9e9e9e l c h);

    --material-blue-grey: oklch(from #607d8b l c h);

    --material-black: oklch(from #000000 l c h);
}
