@layer base {
    [data-webtui-theme='light'] {
        --oklch-scale: 0.85;
        --base: #eff1f5;
        --mantle: #e6e9ef;
        --crust: #e4e4e4;
        --pre-background: transparent;
        --foreground0: #000000;
        --foreground1: #7d8697;
        --foreground2: #888888;
        --foreground3: #aaaaaa;
        --background0: #ffffff;
        --background1: #f8f8f8;
        --background2: #cccccc;
        --background3: #999999;
        --red: #ff8a80;
        --green: #05a551;
        --yellow: #ff794e;
        --blue: #2196f3;
        --purple: #8260cc;
        --aqua: #00b8d4;
        --orange: #ff5722;
        --pink: #ff3399;
        --teal: #00838f;
        --accent: #f92672;
        --url: #137af5;
        --h1: #333333;
        --h2: #ff5252;
        --h3: #6089de;
        --h4: #50fa7b;
        --h5: #fd971f;
        --h6: #bd93f9;
    }

    [data-webtui-theme='dark'] {
        --h1: #838383;
        --h2: #ff2052;
        --h3: #ff79c6;
        --h4: #f1fa8c;
        --h5: #50fa7b;
        --h6: #bd93f9;
        --accent: #ff2052;
        --url: #82b1ff;
        --oklch-scale: 1.15;
        --base: #1c1c1c;
        --mantle: #181825;
        --crust: #11111b;
        --pre-background: transparent;
        --foreground0: #eeeeee;
        --foreground1: #cccccc;
        --foreground2: #888888;
        --foreground3: #666666;
        --background0: #1c1c1c;
        --background1: #242424;
        --background2: #333333;
        --background3: #777777;
        /* --background1: #222222; */
        /* --background2: #333333; */
        /* --background3: #444444; */
        --red: #fc1a70;
        --green: #63ff5b;
        --yellow: #ffff00;
        --blue: #b388ff;
        --purple: #ef7fff;
        --aqua: #84d6eb;
        --orange: #f2ab47;
        --pink: #ff00ff;
        --teal: #38d9a9;
        --foreground3: #999999;
        --rosewater: #f4dbd6;
        --flamingo: #f0c6c6;
        --pink: #f5bde6;
        --mauve: #c6a0f6;
        --red: #ed8796;
        --maroon: #ee99a0;
        --peach: #f5a97f;
        --yellow: #eed49f;
        --green: #a6da95;
        --teal: #8bd5ca;
        --sky: #91d7e3;
        --sapphire: #7dc4e4;
        --blue: #8aadf4;
        --lavender: #b7bdf8;
        /* --text: #cad3f5; */
        /* --subtext1: #b8c0e0; */
        /* --subtext0: #a5adcb; */
        /* --overlay2: #939ab7; */
        /* --overlay1: #8087a2; */
        /* --overlay0: #6e738d; */
        /* --surface2: #5b6078; */
        /* --surface1: #494d64; */
        /* --surface0: #363a4f; */
    }
}
