#mobile-nav {
    display: none;
    gap: 1ch;

    button {
        flex-grow: 1;
    }
}

h1::before {
    content: '# ';
}
h2::before {
    content: '## ';
}
h3::before {
    content: '### ';
}
h4::before {
    content: '#### ';
}
h5::before {
    content: '##### ';
}
h6::before {
    content: '###### ';
}

#sidebar-container {
    display: flex;
    width: var(--sidebar-width, 32ch);
    max-width: 100vw;
    min-width: 16ch;
    flex: 0 0 var(--sidebar-width, 32ch);
}

#sidebar-container.collapsed {
    max-width: 6ch;
    width: 6ch;
    min-width: 6ch;
    flex-basis: 6ch;
}

#sidebar-container.collapsed + #sidebar-resizer {
    display: none;
}

#sidebar-resizer {
    flex: 0 0 0.5ch;
    align-self: stretch;
    height: auto;
    cursor: col-resize;
    background: var(--background1);
    border-left: 1px solid var(--background2);
    border-right: 1px solid var(--background2);
    margin-block: 0.5lh;
}

#sidebar-resizer:hover,
#sidebar-resizer.dragging {
    background: var(--background0);
    border-color: var(--foreground2);
}

#toc-container {
    display: flex;
    width: var(--toc-width, 34ch);
    max-width: 100vw;
    min-width: 16ch;
    flex: 0 0 var(--toc-width, 34ch);
}

#toc-resizer {
    flex: 0 0 0.5ch;
    align-self: stretch;
    height: auto;
    cursor: col-resize;
    background: var(--background1);
    border-left: 1px solid var(--background2);
    border-right: 1px solid var(--background2);
    margin-block: 0.5lh;
}

#toc-resizer:hover,
#toc-resizer.dragging {
    background: var(--background0);
    border-color: var(--foreground2);
}

#toc-sidebar {
    /* margin-inline: 1ch; */
    position: relative;
    display: flex;
    flex: 1;

    &:focus-within {
        --box-border-color: var(--foreground0);
    }
}

#toc-list-container {
    position: absolute;
    inset: 0;
    padding: 1lh 1ch;
    overflow-y: auto;
    margin-inline: 1ch;
}

#toc-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#main-content :is(h1, h2, h3, h4, h5, h6) {
    .heading-anchor {
        margin-left: 0.5ch;
        opacity: 0;
        text-decoration: none;
        color: var(--foreground2);
    }

    &:hover .heading-anchor,
    &:focus-within .heading-anchor {
        opacity: 1;
    }
}

#toc-list li {
    list-style: none;
    margin: 0;
    padding: 0;

    &::before {
        content: none !important;
    }

    &::marker {
        content: '';
    }
}

#toc-list a {
    display: block;
    color: var(--foreground2);
    text-decoration: none;
    outline: none;
    border-left: 1px solid var(--background2);
    padding-inline: 1ch;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    overflow-wrap: anywhere;
    line-height: 1.3;
}

#toc-list a.depth-3 {
    margin-left: 1ch;
}

#toc-list a.depth-4 {
    margin-left: 2ch;
}

#toc-list a.depth-5,
#toc-list a.depth-6 {
    margin-left: 3ch;
}

#toc-list a.active {
    color: var(--foreground0);
    border-left-color: var(--foreground1);
    background-color: oklch(
        from var(--background1, var(--foreground, #838383))
            calc(l * var(--oklch-scale, 0.85)) c h / 0.1
    );
}

#toc-list a:focus {
    background-color: oklch(
        from var(--accent, var(--foreground, #838383)) calc(l * 0.85) c h / 0.1
    );
}

#sidebar-container.collapsed #category-container,
#sidebar-container.collapsed #sidebar-vim-nav-container {
    display: none;
}

#scroll-container {
    position: relative;
    flex-grow: 1;

    #main-content {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        gap: 1lh;
        padding: 1lh 1ch;
        overflow-y: auto;
        color: var(--foreground1);

        strong {
            color: var(--foreground0);
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: subpixel-antialiased;
        }

        [tabindex='0'] {
            outline: none;

            &:focus {
                background-color: var(
                    --background-active,
                    oklch(
                        from var(--foreground)
                            calc(l * var(--oklch-scale, 1.15)) c h / 0.1
                    )
                );

                /* &:not(:is(pre)) code { */
                /*     background-color: var(--background2); */
                /* } */
                /**/
                /* &:has(> div.image-caption) { */
                /*     background-color: var(--background0); */
                /**/
                /*     figcaption { */
                /*         background-color: var(--background1); */
                /*     } */
                /* } */

                /* &:is(pre) { */
                /*     span.line:first-child { */
                /*         background-color: var(--background2); */
                /*     } */
                /* } */
            }
        }

        li > p + p {
            display: block;
        }

        li {
            text-indent: 2ch hanging;
        }
        li:last-child {
            margin-bottom: 1lh;
        }

        li > details[is-~='accordion'] {
            margin-left: 2ch;
        }

        #doc-pagination {
            display: flex;
            flex-wrap: wrap;

            &:has(> .prev) {
                justify-content: flex-start;
            }

            &:has(> .next) {
                justify-content: flex-end;
            }

            &:has(> .prev):has(> .next) {
                justify-content: space-between;
            }

            a:focus:focus-visible {
                color: var(--accent);
                background-color: oklch(
                    from var(--accent) calc(l * 0.85) c h / 0.1
                );
            }
        }
    }
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:focus-within {
        --box-border-color: var(--foreground0);
    }
}

@media (max-width: 120ch) {
    #sidebar-container {
        max-width: 100%;
    }

    #sidebar-resizer {
        display: none;
    }

    #toc-container,
    #toc-resizer {
        display: none;
    }

    #sidebar-container.collapsed {
        max-width: 100%;
        width: 100%;
    }

    #sidebar-container.collapsed #category-container,
    #sidebar-container.collapsed #sidebar-vim-nav-container {
        display: block;
    }

    #sidebar-toggle {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    .mobile-hidden {
        display: none !important;
    }

    .next,
    .prev {
        flex-grow: 1;

        code {
            display: none;
        }
    }
}

/* Syntax Highlighting */
pre.astro-code {
    display: flex !important;
    overflow: unset !important;
    position: relative;
    /* background-color: var(--background1) !important; */

    code {
        background-color: unset;
        overflow: hidden;
        /* Diff markers */
        span.diff.add {
            background-color: #a6e3a135;
        }
        span.diff.remove {
            background-color: #f38ba845;
        }
    }
}

p:has(> img) {
    display: flex;

    max-width: 48ch;
    max-height: 24lh;
    width: 100%;

    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}
