@layer components {
    [data-webtui-theme|='custom'] {
        h1 {
            color: var(--h1);
        }

        h2 {
            color: var(--h2);
        }

        h3 {
            color: var(--h3);
        }

        h4 {
            color: var(--h4);
        }

        h5 {
            color: var(--h5);
        }

        h6 {
            color: var(--h6);
        }

        p,
        blockquote,
        li,
        [is-~='typography-block'] {
            a {
                position: relative;
                overflow: hidden;
                color: var(--url);
                text-decoration: none;

                &::after {
                    content: '';
                    background: oklch(from var(--url) l c h / 0.25);
                    position: absolute;
                    left: 1ch;
                    bottom: -0.5ch;
                    width: calc(100% - 0.5ch);
                    height: calc(100% - 0.5ch);
                    z-index: -1;
                    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
                }

                &:hover {
                    color: var(--accent, var(--blue));

                    &::after {
                        left: 0;
                        bottom: -2px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            code {
                color: var(--code-fg, var(--foreground2));
                background-color: var(--code-bg, var(--background1));
            }
        }
    }
}
