@layer components {
    [data-webtui-theme|='custom'] {
        h1 {
            color: var(--h1);
        }

        h2 {
            color: var(--h2);
        }

        h3 {
            color: var(--h3);
        }

        h4 {
            color: var(--h4);
        }

        h5 {
            color: var(--h5);
        }

        h6 {
            color: var(--h6);
        }

        p,
        blockquote,
        li,
        [is-~='typography-block'] {
            a {
                color: var(--url);
                text-decoration: none;

                &::before {
                    content: '[';
                    margin-right: -1ch;
                    opacity: 0;
                    transition:
                        margin 0.3s ease,
                        opacity 0.3s ease;
                }

                &::after {
                    content: ']';
                    margin-left: -1ch;
                    opacity: 0;
                    transition:
                        margin 0.3s ease,
                        opacity 0.3s ease;
                }

                &:hover,
                &:focus-visible {
                    color: var(--accent, var(--blue));

                    &::before {
                        margin-right: 0;
                        opacity: 1;
                    }

                    &::after {
                        margin-left: 0;
                        opacity: 1;
                    }
                }
            }

            code {
                color: var(--code-fg, var(--foreground2));
                background-color: var(--code-bg, var(--background1));
            }
        }
    }
}
